:root {
  --color--dark--high: #212121;
  --color--dark--low: rgb(61, 61, 61);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: normal;
}
hr {
  height: 2px;
  background-color: var(--color--dark--low);
  border: 0;
}

li {
  list-style: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  outline: none;
}

body {
  background-color: var(--color--dark--low);
  color: rgb(255, 255, 255);
}
