:root {
  --padding--innerbox: 15px;
  --border-radius-box: 10px;
}
.contents {
  padding: 0 12%;
}
.upperContents {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 4% 0;
}
.upperContents img {
  margin-right: 20px;
}

.info h1 {
  margin-bottom: 25px;
}
.upperContents > ul {
  min-width: 160px;
}

.info > ul > li {
  font-size: 20px;
  margin-top: 10px;
}
.genres {
  display: flex;
}
.plot {
  background-color: var(--color--dark--high);
  padding: var(--padding--innerbox);
  border-radius: var(--border-radius-box);
  margin-bottom: 4%;
}
.plot p {
  text-align: justify;
  margin-top: 10px;
}
