:root {
  --padding--innerbox: 15px;
  --border-radius-box: 10px;
}

.contents {
  padding: 0 12%;
}

.upperContents {
  display: grid;
  grid-template-columns: 0fr 4fr 2fr;
  grid-template-rows: 0fr 1fr;
  /* grid-template-rows: auto; */
  /* grid-template-rows: ; */
  margin: 4% 0;
  /* height: 345px; */
}
.upperContents > * {
  margin: 15px;
}

.upperContents > img {
  border: solid 5px white;
  border-radius: var(--border-radius-box);
  grid-row: span 2;
}

.title h1 {
  font-size: 30px;
  /* margin-bottom: 25px; */
}
.upperContents .castBox {
  grid-row: span 3;
  min-width: 250px;
}

.castBox li {
  display: flex;
  align-items: center;
}
.castBox li:not(:first-child) {
  margin-top: 10px;
}

.castBox li > * {
  margin-right: 10px;
}

.castBox li img {
  border-radius: 50%;
  width: 45px;
  height: auto;
}

.genresAndInfo {
  display: grid;
  grid-template-columns: 0fr 0.5fr;
  grid-template-rows: 0fr;
}
.genres {
  margin-right: 15px;
}
.plot {
  grid-column: span 2;
}

.plot p {
  text-align: justify;
}

.slide {
  margin: 0 15px 30px 15px;
}

@media (max-width: 550px) {
  .contents {
    padding: 0 10px;
  }
  .upperContents {
    display: grid;
    grid-template-columns: 1fr;
  }
  .upperContents > * {
    grid-row: span 1;
    grid-column: span 1;
  }
  .upperContents .title {
    order: -1;
  }
  .upperContents img {
    width: 50%;
  }
}
