header {
  background-color: var(--color--dark--high);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 9vh;
  min-height: 30px;
}
h1 {
  display: flex;
}
.logo {
  font-size: 25px;
}
